body {
	font-family: Roboto;
	padding: 2rem;
}

#main-box {
	display: flex;
    flex-direction: column;
	justify-content: center; 
	align-items: center; 
}

#main-button {
	margin: 1rem;
    border-radius: 1rem;
}
